<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993578665038-gue8hjobb6s3089h9s0p5usuos1ibcdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993578665038-gue8hjobb6s3089h9s0p5usuos1ibcdl</string>
	<key>API_KEY</key>
	<string>AIzaSyCi75svF8fsipxCQ5XW7PhH1fQphxOuq8w</string>
	<key>GCM_SENDER_ID</key>
	<string>993578665038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geekskool.cs193p.heyFam</string>
	<key>PROJECT_ID</key>
	<string>heyfam-b4ded</string>
	<key>STORAGE_BUCKET</key>
	<string>heyfam-b4ded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993578665038:ios:228c2654aeab86d6</string>
	<key>DATABASE_URL</key>
	<string>https://heyfam-b4ded.firebaseio.com</string>
</dict>
</plist>